@font-face {
  src: url('./fonts/Poppins-Medium.ttf');
}

@font-face {
  src: url('./fonts/Poppins-Regular.ttf');
}


#header {
  -fx-background-color: #fff;
  ;
}

#addBtn {
  -fx-font-family: 'Poppins Medium';
  -fx-text-fill: #fff;
  -fx-min-height: 45px;
  -fx-min-width: 45px;
  -fx-background-radius: 15px;
  -fx-border-radius: 15px;
  -fx-font-size: 20px;
  -fx-background-color: #94baf7;
  -fx-border-color: #146bf7;
}

#addBtn:hover {
  -fx-background-color: transparent;
  -fx-text-fill: #146bf7;
}

#title1 {
  -fx-font-family: 'Poppins Medium';
  -fx-text-fill: #00d289;
  -fx-font-size: 18px;
}

#text1 {
  -fx-font-family: 'Poppins Regular';
  -fx-font-size: 16px;
  -fx-text-fill: #00d289;
  -fx-alignment: center;
}

#title2 {
  -fx-font-family: 'Poppins Medium';
  -fx-text-fill: #3888ff;
  -fx-font-size: 18px;
}

#text2 {
  -fx-font-family: 'Poppins Regular';
  -fx-font-size: 16px;
  -fx-text-fill: #3888ff;
  -fx-alignment: center;
}

#title3 {
  -fx-font-family: 'Poppins Medium';
  -fx-text-fill: #8a2be2;
  -fx-font-size: 18px;
}

#titleHeader {
  -fx-font-family: 'Poppins Medium';
  -fx-font-size: 20px;
  -fx-text-fill: #146bf7;
}

#pane1 {
  -fx-background-color: #e1f5ee;
}

#pane2 {
  -fx-background-color: #e1e9f5;
}

#pane3 {
  -fx-background-color: #eee1f5;
}

#button1 {
  -fx-font-family: 'Poppins Medium';
  -fx-min-height: 45px;
  -fx-min-width: 200px;
  -fx-background-radius: 30px;
  -fx-border-radius: 30px;
  -fx-border-color: #00d289;
  -fx-background-color: #97ffda;
  -fx-text-fill: #fff;
  -fx-cursor: hand;
}

#button1:hover {
  -fx-text-fill: #00d289;
  -fx-background-color: transparent;
}

#button2 {
  -fx-font-family: 'Poppins Medium';
  -fx-min-height: 45px;
  -fx-min-width: 200px;
  -fx-background-radius: 30px;
  -fx-border-radius: 30px;
  -fx-border-color: #3888ff;
  -fx-background-color: #a1c7ff;
  -fx-text-fill: #fff;
  -fx-cursor: hand;
}

#button2:hover {
  -fx-text-fill: #3888ff;
  -fx-background-color: transparent;
}

#button3 {
  -fx-font-family: 'Poppins Medium';
  -fx-min-height: 45px;
  -fx-min-width: 200px;
  -fx-background-radius: 30px;
  -fx-border-radius: 30px;
  -fx-border-color: #8a2be2;
  -fx-background-color: #c898f5;
  -fx-text-fill: #fff;
  -fx-cursor: hand;
}

#button3:hover {
  -fx-text-fill: #8a2be2;
  -fx-background-color: transparent;
}

.text-field {
  -fx-border-radius: 20px;
  -fx-background-radius: 20px ;
  -fx-max-width: 200px;
  -fx-max-height: 40px;
  -fx-padding: 10px;
  -fx-border-width: 1px;
  -fx-font-family: 'Poppins Regular';
}
#input1 {
  -fx-max-height: 40px;
  -fx-border-color: #00d289;
  -fx-background-color: #fff;
  -fx-text-fill: #00d289;
}
#input1:focused {
  -fx-border-color: #80f8ce;
}

#input2 {
  -fx-max-height: 40px;
  -fx-border-color: #3888ff;
  -fx-background-color: #fff;
  -fx-text-fill: #3888ff;
}
#input2:focused {
  -fx-border-color: #a1c7ff;
}

#addPhonePane {
  -fx-background-color: #fff;
}

#titleAdd {
  -fx-font-family: 'Poppins Medium';
  -fx-text-fill: #ff7327;
  -fx-font-size: 18px;
}

#closeButton {
  -fx-font-family: 'Poppins Medium';
  -fx-text-fill: #fff;
  -fx-min-height: 45px;
  -fx-min-width: 45px;
  -fx-background-radius: 15px;
  -fx-border-radius: 15px;
  -fx-font-size: 16px;
  -fx-background-color: #f6a67b;
  -fx-border-color: #ff7327;
}

#closeButton:hover {
  -fx-background-color: transparent;
  -fx-text-fill: #ff7327;
}

#inputAdd {
  -fx-max-height: 40px;
  -fx-border-color: #ff7327;
  -fx-background-color: #fff;
  -fx-text-fill: #ff7327; 
  -fx-prompt-text-fill: #ff7327;
}
#inputAdd:focused {
  -fx-border-color: #f6a67b;
  -fx-prompt-text-fill: transparent;
}

#placeholder {
  -fx-font-family: 'Poppins Regular';
  -fx-text-fill: #f6a67b;
}

#buttonAdd {
  -fx-font-family: 'Poppins Medium';
  -fx-min-height: 45px;
  -fx-min-width: 200px;
  -fx-background-radius: 30px;
  -fx-border-radius: 30px;
  -fx-border-color: #ff7327;
  -fx-background-color: #f6a67b;
  -fx-text-fill: #fff;
  -fx-cursor: hand;
}

#buttonAdd:hover {
  -fx-text-fill: #ff7327;
  -fx-background-color: transparent;
}

#addBackPane {
  -fx-background-color: #fdebe2;
}